div.inline { 
	float: left;
    margin-left: -1px;
    border: 9px solid darkgrey;
    width: 250px;
    background-color: #f3f7ee;
    border-radius: 2px;
    
    }
    .nv_list{
           display: inline-block;
    		margin-left: 11px;
    		font-size: 14px;
    		font-weight: bold;
    	}
    	.color_ball{
    	height:13px;
    	width:13px;
    	display:inline-block;
    	border-radius: 8px;
        border: 1px solid #eae1e1;
        margin-left: 10%;
        margin-bottom: -2px;
        margin-top: 7px;
    	margin-right: 4px;
    	}
    #base_id{
    
    height: 300px;
    width: 300px;
    } 
    div.inline>p{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    }

    .inline1 {
    float: left;
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    height: 270px;
    width: 160px;
    text-align: center;
    margin-left: -1px;
    display: inline-block;
    }
    .inline1>p {
    text-align: left;
    margin: 0px;
    padding-left:10px;
}
.inline1>h5 {
    text-align: left;
    margin: 0px;
    padding-left: 6px;
}
.show_btn{
	font-size:14px;background-color: #09C;color:white;height:35px;width:80%;border-radius:10px;
}
.hide_btn{display: none;}
    .inline2 {
    float: left;
    border: 1px solid darkgrey;
    
    height: 300px;
    width: 160px;
    text-align: center;
   	box-shadow: 3px 2px 2px #888888;
   	border-radius:5px;
   	z-index: 1;
    
}  


 .image-upload > input
{
    display: none;
    
} 

 .image-upload img
{
    width: 30px;
    cursor: pointer;
    margin-bottom: -10px;
} 
#allContent {
    /* font-family: Verdana,sans-serif; */
    background-color: #FFF;
    width: 70%;
    padding: 0;
    margin: 0;
    border: 0;
    margin: 7px auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
	/* border:1px solid red; */
	
}
#allContent #mainPadding {
    padding: .63em 1.02em;
    background-color: #FFF;
   
    
    overflow: none;
}
#searchName{
    margin-left: 60px;
    width: 20%;
    height: 30px;
}
.mainImageCont{
	height:200px;
	width:250px;
}
.resultImageCont{
	height:130px;
	width:130px;
	padding-top:10px;
}
ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #0051ba;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 6px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover:not(.active) {
    background-color: #525e6d;
}

.active {
    background-color: #36395d;
}
#mainDiv{
	/* margin-left: 12%; 
    margin-right: 12%;*/
    /* background-color: gray;
    position: absolute; */
    width:76%;
    float:left;
   
}
.mainDiv_left{
	/*border-left: 1px solid darkgrey;
	 border-right: 1px solid darkgrey; */
    width: 20%;
    height:100px;
    float: left; 
    margin-top:-22px; 
}
.mainDiv_left > p:nth-child(3){
	font-weight: bold;
	color:red;
	margin-left: 5px;
	margin-bottom: 5px;
}

.txt_box{
	width:80px;
	display:inline-block;
}
.txt_box_connect{
	width: 10px;
    display: inline-block;
    border: 1px solid;
    margin: 4px;
}
#preview_left{
	border-top: 1px solid darkgrey;
	/* border-right: 1px solid darkgrey; */
	width: 20%;
    height:316px;
    float: left;
}
.preview_left_cont{
	font-weight: bolder;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

#pr1{
	float: left;
    width: 60%;
}
#more_container{
height:200px;
width:420px;
float:right;
font-size:20px;
}
#more{
    width: 200px;
    height: 54px;
    border-radius: 9px;
    background-color: #3a7585;
    font-size: 20px;
	color:white;
	margin-top: 85px;
}
   
        
#preview{
	height:auto;
	width:300px;
	float: left;
	margin-left: 30px;
}

#preview1{
	
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}

footer {
    background-color: #eee;
        width: 70%;
    margin-left: 14%;
        margin-top: auto;
    position: absolute;
}
.footer-column {
    width: 15%;
    float: left;
    margin-left: 15px;
}
a {
    color: #333;
    display: block;
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 18px;
    text-decoration: none;
}
.mouDiv{
	
	float: left;
    border-left: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    background-color:red;
    height: 270px;
    width: 160px;
    text-align: center;
    margin-left: -1px;
}

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 
label{
    display: inline-block;
}
label img{
    pointer-events: none;
}
} 
